#design-front{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.dots{
    z-index: 0;
}

#design-paper{
    position: absolute;
    z-index: 100;
}
